/* --------------- reset --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               
	vertical-align: baseline;          
	background: transparent;      
	font-size: 100%;                     
}
a {                                      	     
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			
} 
input, select, button, textarea {
	margin: 0; 				
	font-size: 100%; 			
	outline: none;
}
			
}
input[type="checkbox"] { 		
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}



html {
	min-height:100%; 
}
body {
	color: #000;
	text-align: left;
	font-size: 1em; 
	min-height:100%;
}
a, a:visited { 
	color: #e6618c;
	text-decoration: underline;
}
a:hover {
	color: #fdf208;
	text-decoration:none;
}
a:focus, a:active {
	color: #c83867;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{

	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* --------------------- OK LETS GO -----------------------*/
#site {
	background-color:#fff;
	max-width:100%;
	box-sizing:border-box;
	font-family: 'Raleway', sans-serif;
	outline:0px solid #cc0000;
}
	.center {
		box-sizing:border-box;
		display:block;
		margin:0 auto;
		max-width:100%;
		position:relative;
	}
	ul {list-style:none;}

/* ----------------------------------- HEADER ----------------------------------------*/
#header {
	background-color:#fff;
	border-bottom:5px solid #739AE8;
	position:relative;
}
/* ---------------------- header logo ------------------------*/	
	#header_logo {
		float:left;
		width:20%;
		margin-left:200px;
		color:#739AE8;
		font-size:50px;
	}
		#logo {padding-top:7px;}


/* ---------------------- header menu ------------------------*/
	#header_menu {
		float:left;
		margin:20px;
		margin-left:100px;
	}
		#header_menu_ul {
			list-style:none;
		}
			.header_menu_li {
				float:left;
				padding:5px 20px;
			}
				.header_menu_li a {
					font-size:23px;
					color:#726e6f;
					text-decoration:none;
				}
					.header_menu_li a:hover {
						color:#739AE8;
						text-decoration:none;
					}
					#select_lang {
						padding:3px;
						font-size:20px;
						color:#726e6f;	
						border:none;
					}
					select {
						-webkit-appearance: none;
  						-moz-appearance: none;
  						appearance: none;
  					}

/* ---------------------- header icons ------------------------*/
	#header_icons {
		float:left;
	}
		#header_icons_ul {
			list-style:none;
			margin-left:20px;
		}
			.header_icons_li {
				float:left;
				padding:15px 5px;
			}
			.header_icons_li img {height:40px;}
/* ----------------------------------- MAIN ----------------------------------------*/
.container {
	box-sizing:border-box;
	display:block;
	margin:0 auto;
	width:1200px;
	outline:0px solid red;
}
	.arrow {
			display:block;
			text-align:center;
			margin:0 auto 20px auto;
		}
#main {
	background-color:#535557;
}
a:hover {cursor:pointer;}
#lang_nav {
	position:absolute;
	top:0px;
	right:0px;
}
#select_lang {
	border-radius:5px;
	color:#DC143C;
}

/* --------------------------- block1 ------------------------------*/
	#block1 {
		background:url(../images/block1/bg1.jpg) no-repeat center center;
		overflow:hidden;
		filter: alpha (opacity=60);
	}
	#block1_container {
		margin-top:100px;
	}
		#headline {
			font-size:50px;
			color:#fff;
			display:table;
			margin:0 auto 30px auto;
			text-align:center;
			text-shadow: 1px 1px 3px #535557;
		}
			#headline span {color:#DC143C;font-weight:bold;}
		#features {
			font-size:20px;
			color:#DC143C;
			display:table;
			margin:0 auto 20px auto;
			letter-spacing:3px;
			text-align:center;
			font-weight:bold;
		}
		#block1_text {
			display:table;
		}
		#khmel {
			display:table;
			font-size:30px;
			margin:0 auto 25px auto;
			color:#739AE8;
		}
		#block1_text {
			text-align:center;
			font-size:30px;
			color:#fff;
			margin:0 auto 80px auto;
		}
		#block1_blocks {
			margin-bottom:50px;
		}
		.block1_block {
			float:left;
			display:inline-block;
			width:33.3%;
			text-align:center;
			color:#fff;
			margin:0 auto 50px auto;
		}
		.block1_block_img img {height:120px;}
		.block1_block_title {
			width:75%;
			margin:30px auto;
			font-size:20px;
		}
		.arrow {
			display:block;
			text-align:center;
			margin:0 auto 20px auto;
		}
/* --------------------------- block2 ------------------------------*/
#block1_half {
	overflow:hidden;
	box-shadow:inset 0 0 20px #A0A0A0;
	background-color:#E5E4E2;
	padding-top:50px;
}
#block2 {
	background:url(../images/block2/bg3.jpg) no-repeat center center;
	overflow:hidden;
}
#block2_container {
	margin-top:70px;
}
	#block2_icon {
		display:block;
		text-align:center;
		margin:0 auto 30px auto;
	}
	#select_service {
		color:#A5A5A5;
		font-size:15px;
    	text-align:center;
    	letter-spacing:3px;
    	margin:0 auto 20px auto;	
	}
	#our_services {
    	font-size:40px;
    	font-family: "Open Sans" sans-serif;
    	text-align:center;
    	color:#4C4C4C;
    	margin:0 auto 50px auto;
	}
		#our_services span {color:#739AE8;}
	#block1_half_text {
		font-family: "Open Sans" sans-serif;
		vertical-align:center;
		margin:0 auto 30px auto;
		font-size:20px;
		color:#4C4C4C;
		letter-spacing:1px;
		text-align:center;
	}

	#block2block {margin-bottom:50px; padding-left:10px;}

		.block2_div1 {
			display:inline-block;
    		width:24%;
    		margin-bottom:30px;
    		vertical-align:top;
    		padding:0 15px;
    		box-sizing:border-box;
		}
			.block2_div2 {
				background:white;
    			text-align:center;
    			height:250px;
    			box-shadow:5px 5px 10px #858585; 
    			border:5px solid #EDF3F8;
    			border-radius:10px;
    			box-sizing:border-box;
				}
				.block2_div2:hover {box-shadow:none;}
				.block2_div_title {
					font-size:23px;
					color:#4C4C4C;
					margin:20px auto;
				}
				.block2_div_img{text-align:center;}
				.block2_div_img img {
					height:100px;

				}

/* ----------------------------- block8 -------------------------------*/

#block8 {
	font-family: 'Raleway', sans-serif;
	background-color:#FFF;
	overflow:hidden;
	box-shadow:inset 0 0 20px #A0A0A0;
}
	#block8_icon {
		display:block;
		text-align:center;
		margin-top:30px;
		margin-bottom:30px;
	}
	#contacts {
		display:block;
		text-align:center;
		color:#739AE8;
		letter-spacing:2px;
		font-size:20px;
		margin-bottom:30px;
	}
	#order {
		display:block;
		text-align:center;
		font-size:20px;
		color:#4C4C4C;
		margin:0 0 30px -45px;
	}
	#adress_text {
		text-align:center;
		font-size:20px;
		line-height:30px;
		margin-bottom:20px;
		color:#4C4C4C;
	}
    #block8_form {outline:0px solid red; padding-left:30px;}
	.form8 {
		display:inline-block;
		width:40%;
		margin:0 20px;
		margin-bottom:50px;
		outline:0px solid red;
	}
		#inputs {
			display:block;
			text-align:left;
		}
			.oneinput {
				display:inline-block;
				box-sizing:border-box;
				width:40%;
				padding:0 5px;
				margin:10px;
			}
				.input8 {
					border: 1px solid #ccc;
				    background-color: #fff;
				    padding:0 10px;
				    font-size:16px;
				    height:50px;
				    width:100%;
				    font:inherit;
				    border-radius:5px;
				}
				#big_text {
					box-sizing:border-box;
					padding:0 15px;
					
				}
				#your_message {
					border: 1px solid #ccc;
					font-size:16px;
					padding:10px;
					height:200px;
					resize:none;
					width:89%;
					overflow:hidden;
					font:inherit;
					margin-bottom:15px;
					border-radius:5px;
				}
				textarea:focus::placeholder{color:transparent;}
				.input8:focus::placeholder{color:transparent;}

				#block8_btn {
					float:right;
					padding:0 15px;
					margin:5px 30px;
				}
					#send {
						padding:15px 50px;
						background-color:#739AE8;
						color:#fff;
						border:1px solid #739AE8;
						cursor:pointer;
						font-size:18px;
						border-radius:5px;
					}
						#send:hover {background-color:#fff; color:#739AE8;}

				#map_div {
					display:inline-block;
				 	float:right;
				 	margin:65px 10px 50px 30px;
				}
				#map {
					border-radius:10px;
				}
					
				
/* ----------------------------- block9 -------------------------------*/
#block9 {
	background-color:#F7F7F7;
	overflow:hidden;
	font-family: 'Raleway', sans-serif;
}
#block9block {
	margin-top:30px;
	display:block;
	text-align:center;
}
	.block9_div {
		display:inline-block;
		width:30%;
		vertical-align:top;
		padding:10px;
		margin-bottom:30px;
	}
		.block9_div_img {
			margin-bottom:20px;
		}
		.block9_div_text1 {
			color:#4C4C4C;
			font-size:18px;
			margin-bottom:20px;
		}
		.block9_div_text2 {
			color:#739AE8;
			font-size:18px;
			line-height:30px;
		}
			#border9 {
				border-left:1px solid #818181;
				border-right:1px solid #818181;
			}
/* ----------------------------- block10 -------------------------------*/
#block10 {
	background-color:#739AE8;
	overflow:hidden;
	font-family: 'Raleway', sans-serif;
	text-align:center;

}
#block10block {
	margin:40px auto;
	display:inline-block;
	width:65%;
	
}
	#block10_div1 {
		display:inline-block;
		color:#fff;
		font-size:50px;
		margin-bottom:5px;
		text-align:center;
	}	
		#block10_div1 span {font-weight:bold;}

	#block10_div2 {
		display:inline-block;
		color:#fff;
		font-size:18px;
		text-align:center;
	}
	#block10_div3 {
		display:inline-block;
		padding-left:10px;
		vertical-align:middle;
	}
		#block10_div3 a {
			padding:15px 50px;
			color:#fff;
			border:1px solid #fff;
			text-decoration:none;
		}	
			#block10_div3 a:hover {
				color:#739AE8;
				background-color:#fff;
			}
/* ----------------------------- footer -------------------------------*/

footer {
	background-color:#252830;
	overflow:hidden;
	font-family: 'Raleway', sans-serif;
}
#footer_container {
	margin-top:25px;
	margin-bottom:25px;
}
	#footer_logo {
		display:inline-block;
		width:25%;
		margin-left:250px;
		margin-right:30px;
		vertical-align:top;
	}
	#logogo {
		font-size:50px;
		color:white;
	}
	#footer_icons {
		display:inline-block;
		vertical-align:top;
		margin-left:100px;
	}
		.footer_icon {
			display:inline-block;
			vertical-align:top;
			margin-right:10px;
		}
		

/* ----------------------------- adaptive -------------------------------*/

@media screen and (max-width:1600px) {
	#header_menu {
		margin-left:none;
}
	#header_icons {
		display:none;
	}}
@media screen and (max-width:1280px) {
	html, body {overflow-x: hidden;}
	#header_logo {
		margin:0 auto;
		text-align:center;
		width:100%;
	}
	#logo {padding-top:0px;}
	#header_menu {display:none;}
@media screen and (max-width:1200px) {
	.container {width:100%;}
	}
@media screen and (max-width:1185px) {
	#our_services {
		margin-bottom:20px;
	}
    #map_div {
    	display:block;
    	margin:0 auto;
    	float:none;
    	width:60%;
    }
    .form8 {
    	display:block;
    	width:60%;
    	margin:0 auto 20px auto;

    }
    #block8_form {
    	margin-bottom:30px;
    	margin-left:0px;
    	padding-left:0px;
    }
    #block8_btn {
    	margin-bottom:20px;
    	float:none;
    	text-align:center;
    	margin:0 auto;
    }
}
@media screen and (max-width:1010px) {
	#headline {font-size:40px;}
	#block1_half_text {font-size:17px;}
	#our_services {
		font-size:30px;margin-bottom:20px;
	}
	#block10_div1 {font-size:35px;}
	#map {
		width:500px;
	}
	#map_div {float:none;}
	.block2_div1 {
			display:inline-block;
    		width:24%;
    		margin-bottom:20px;
    		vertical-align:top;
    		padding:0 10px;
    		box-sizing:border-box;
		}
			.block2_div2 {
				background:white;
    			text-align:center;
    			height:200px;
    			box-shadow:5px 5px 10px #858585; 
    			border:3px solid #EDF3F8;
    			border-radius:10px;
    			box-sizing:border-box;
				}
				.block2_div_title {
					font-size:18px;
					color:#4C4C4C;
					margin:15px auto;
				}
				.block2_div_img{text-align:center;}
				.block2_div_img img {
					height:80px;

				}
}
@media screen and (max-width:820px) {
	#footer_logo {
		margin:0 auto;
		text-align:center;
		width:100%;
	}
	#logogo {
		font-size:40px;
		text-align:center;
		width:100%;
		margin-bottom:20px;
	}
	#footer_icons {
		text-align:center;
		display:block;
		margin:0 auto;
		width:35%;
	}
	#footer_icons img {height:40px;}
}
@media screen and (max-width:770px) {
	.form8 {
		width:80%;
	}
	#map_div {width:65%;float:none;}
	.block2_div_title {
					font-size:15px;
					color:#4C4C4C;
					margin:10px auto;
				}

@media screen and (max-width:720px) {
}
	#block9block {
	text-align:none;
}
	.block9_div_text2 {
			color:#739AE8;
			font-size:13px;
			line-height:20px;
		}
	.block9_div {width:20%;}
	#block9_div_img img {height:20px;}
	#block10_div1 {font-size:35px;}
	
	#map {
		width:400px;
		margin-left:35px;
	}
	#select_service {
		font-size:10px;
	}
}

@media screen and (max-width:640px) {
	#map{margin-left:none;}
	#map_div {width:90%;}
	#headline {font-size:30px;}
	#block1_text {font-size:25px;}
	.block2_div1 {width:48%;}
	.block2_div2 {height:160px;padding:20px;}
	.block2_div_img img {height:50px;}
	#contacts {font-size:15px;}
	#adress_text{font-size:15px;}
	#order {font-size:18px;margin-bottom:10px;}
	


}
@media screen and (max-width:550px) {
	#map_div {width:100%;margin-left:none;}
	#block8_form {
		padding-left:none;
	}
	.block2_div_img img {height:40px;}
	.block2_div2 {height:140px;}
	#block10_div1 {font-size:25px;}
	#block1_half_text {width:90%;}
	.block9_div {width:48%;}
}
@media screen and (max-width:480px) {
	.block1_block {width:100%; margin-bottom:20px;}
	.block2_div2 {padding-top:0px; height:140px;}
	#block1_text {font-size:20px;}
	#features {font-size:13px;}
	#big_text {padding-left:10px;padding-right:0px;}
}
@media screen and (max-width:460px) {
	#map {width:350px;height:300px;}
}
@media screen and (max-width:410px) {
	#map {width:320px;}
}
@media screen and (max-width:380px) {
	.block2_div2 {height:150px;}
	#map {width:300px;}
	#map_div {margin-right:30px;}
	.block1_block {margin-bottom:10px;}
}
/* ----------------------------- final -------------------------------*/
