header.top {
    background: #C72828;
    height: 40px;
}
header.top .list-inline {
    margin: 5px 0;
}
header.top .list-inline .list-inline-item, header.top .list-inline .list-inline-item a {
    color: #fff;
    font-size: 13px;
}
.mark-shop {
    background: #fff;
    color: #000;
    padding: 3px 7px;
    font-size: 12px;
    border: 1px solid #000;
    border-radius: 5px;
}
header.logo .search-wrapper, header.logo .cart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
header.logo .search-wrapper input, header.logo .search-wrapper .input-group-text {
    outline: none;
    border: 1px solid #C72828;
}
header.logo .search-wrapper .input-group-text {
    border-right: none;
    background: transparent;
    font-size: 22px;
}
header.logo .search-wrapper input {
    border-left: none !important;
}
header.logo .search-wrapper input:focus {
    box-shadow: none;
    background: none;
    border-top: 1px solid #C72828;
    border-left: 1px solid #C72828;
    border-bottom: 1px solid #C72828;
    border-right: none;
}
header.logo .search-wrapper .btn-outline-secondary {
    border-color: #C72828;
}
header.logo .search-wrapper .btn-outline-secondary:hover {
    background: #C72828;
    color: #fff;
}
header.logo .cart a {
    font-size: 16px;
    border: 1px solid #C72828;
    color: #C72828;
    padding: 10px;
    border-radius: .25rem;
    text-decoration: none;
}
.mega-navbar {
    margin: 20px 0;
}
.megamenu-li {
    position: static;
}

.megamenu {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding: 20px;
}
.navbar .megamenu-li {
    position: static;
}
.navbar .megamenu-li:hover .dropdown-menu {
    display: block;
    margin: 0;
    padding: 20px;
    border: 0;
    border-radius: 0;
}
.navbar .megamenu h5 {
    font-size: 15px;
    font-weight: bold;
}
.navbar .megamenu .dropdown-item {
    padding: .25rem 0;
}



/**BOX**/
    .box {
        margin: 100px 0;
    }
    .box .box-name {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bold;
    }
    .box .box-item .box-item-image img{
        max-width: 100%;
    }
    .box .box-item .box-item-title {
        font-size: 15px;
        font-weight: bold;
        margin-top: 15px;
    }
    .box .box-item a {
        color: #000;
        outline: none;
        cursor: pointer;
    }
    .box .box-item a:hover {
        text-decoration: underline;
    }
    .box.articles .box-item .box-item-title {
        font-size: 18px;
    }
    .box.articles .box-item .box-item-description {
        font-size: 15px;
        margin-top: 10px;
    }
    .box.bestseller .box-item {
        position: relative;
        text-align: center;
    }
    .box.bestseller .box-item .box-item-label-new {
        position: absolute;
        top: 0;
        left: 5px;
    }
    .box.bestseller .box-item .box-item-title-manufacturer {
        margin-top: 20px;
    }
    .box.bestseller .box-item .box-item-title {
        margin-top: 0;
    }
    .box.bestseller .box-item .box-item-price .box-item-price-new {
        margin-right: 20px;
        font-weight: bold;
    }
    .box.bestseller .box-item .box-item-price .box-item-price-old {
        font-size: 11px;
        text-decoration: line-through;
        color: #8e8d8d;
    }
    .box.bestseller .box-item .box-item-rating {
        margin-top: 5px;
    }
    .box.bestseller .box-item .box-item-rating .rating .fa-stack {
        font-size: 8px;
    }
    .box.bestseller .box-item .box-item-rating .rating .fa-star {
        color: #FC0;
        font-size: 15px;
    }
    .box.bestseller .box-item .box-item-rating .rating .fa-star + .fa-star-o {
        color: #E69500;
    }
    .box.banners .box-item .box-item-image img {
        width: 100%;
    }
    .slick-initialized .slick-slide {
        outline: none;
    }
    .box .slick-dots li, .slick-dots li button {
        width: 50px;
    }
    .box .slick-dots li button:before {
        content: '';
        width: 50px;
        height: 8px;
        background: black;
        border-radius: 10px;
    }
    .box .slick-dots {
        bottom: -45px;
    }
    @media (max-width: 633px) {
        .slick-initialized .slick-slide {
            padding: 10px;
        }
    }

    .box-html {
        border-top: 1px solid #C72828;
        padding: 30px 0;
        text-align: center;
    }
    .box-html .box-html-title {
        font-size: 24px;
        margin-bottom: 30px;
        font-weight: bold;
    }
    .box-html .box-html-bg {
        background: #C72828;
        color: #fff;
        margin: 0 10px;
        height: 100%;
        padding: 10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .box-html .box-html-sub-title {
        font-size: 15px;
        font-weight: bold;
    }
    .box-html .box-html-sub-description {
        font-size: 15px;
        margin-top: 10px;
    }
    .box-html .box-html-sub-description.fnt-19 {
        font-size: 19px;
    }
/**BOX**/





/**FOOTER**/
footer.main {
    background: #C72828;
    padding: 50px 0 10px 0;
}
footer.main .footer-item-title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}
footer.main, footer.main a{
    color: #fff;
}
footer.main .list-unstyled li a, footer.main .list-unstyled li, footer.main .copyring {
    font-size: 15px;
}

footer.main .list-unstyled li.custom-btn-margin {
    margin: 50px 0;
}
footer.main .list-unstyled li a.btn-custom-footer {
    border: 1px solid #fff;
    padding: 20px;
    border-radius: .25rem;
}